body {
  font-family: Arial, sans-serif;
  background-color: #e3f2fd;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  background: #007bff;
  color: white;
  padding: 0px;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 1600px;
  padding-top: 70px;
  margin-top: 60px;
}

.new-task {
  background: white;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 35%;
  min-width: 300px;
  transition: width 0.3s ease;
}

.new__task-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.new-task__title {
  font-size: 20px;
  font-weight: bold;
}

.new-task__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 20px;
}

.new-task__btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

.taskboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.column--backlog,
.column--in-progress,
.column--done,
.column--trashcan {
  padding: 10px;
}

.column--backlog h3 {
  background: #b0b0b0;
  color: #707070;
}

.column--in-progress h3 {
  background: #6ea8fe;
  color: #0056b3;
}

.column--done h3 {
  background: #76c893;
  color: #2e7d32;
}

.column--trashcan h3 {
  background: #e57373;
  color: #b71c1c;
}

.column--backlog h3,
.column--in-progress h3,
.column--done h3,
.column--trashcan h3 {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.task {
  padding: 25px;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.column--backlog .task {
  background: linear-gradient(to right, #b0b0b0 3%, #ffffff 1%);
}

.column--in-progress .task {
  background: linear-gradient(to right, #6ea8fe 3%, #ffffff 1%);
}

.column--done .task {
  background: linear-gradient(to right, #76c893 3%, #ffffff 1%);
}

.column--trashcan .task {
  background: linear-gradient(to right, #e57373 3%, #ffffff 1%);
}

.clear {
  display: block;
  width: 100%;
  background: #e57373;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .taskboard {
    grid-template-columns: 1fr;
  }

  .new-task {
    width: 90%;
  }
}
